/* Css Structure 

1. Basic Layout
2. Text Styles
3. Navigation & buttons
4. Main Layout
5. Components
6. @ Media
*/

/*Color scheme 
#4A2C40 
#FFFFFF
#E9BD43 
#7D3780 
*/



@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Roboto+Slab&display=swap');


/* 1. Basic Layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(20,16,91,1) 12%, rgba(82,9,121,1) 70%, rgba(156,29,177,1) 100%);
    font-family: 'Mukta', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



/* 2. Text Styles */

p {
    font-size: 1.5rem;
    color:#FFFFFF;
}

h1 h2 h3 {
    color: white;
}

/* 3. Navigation and Buttons */

nav {
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav a {
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #A0AECD;
    transition: color 0.2s ease ease-in;
}

nav a:hover {
    color: #F92C85;
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




























/*nav {
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    justify-content: center;
    
}
 
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
   
}
 
nav a {
    display: block;
    padding:10px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #A0AECD;
    transition: color 0.2s ease ease-in;
} 

nav a:hover {
   color:#F92C85;
   text-decoration: underline;
}*/

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% auto;    
    background-color:#F7CD46;
    border: none;
    color: #16123f;
    font-size: 1.4rem;
    border-radius: 15px;
    padding: 5px;
    width: max-content;
    height: max-content;
    cursor: pointer;
}

#start:hover {
    background-color: #EA445A;
    color: #FFFFFF;
}

button {
    display: inline-block;
    background-color: #ffe26a;
    width: 150px;
    height: max-content;
    border:none;    
    margin-right: 1%;
    margin-left: auto;
    margin-top: 2%;
    color: #16123f;
    font-size:1.2rem;
    border-radius: 25px;
    padding: 10px;    
    text-align: center;
    cursor: pointer;
}

 button:hover {
    background-color: #EA445A;
    color:white;
  
}

/* 4. Main Layout */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 8rem;
    
}
main {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    
}

section {
    flex:1;
    text-align: center;
    

    
}

footer {
    width: 100%;
}

footer nav ul li {
        display: inline-block;
        margin: 0 0.5rem;
       
}
     
footer nav a {
        display: block;
        padding:10px;
        font-size: 0.9rem;
        text-decoration: none;
        color:#99DDFF;
        transition: color 0.2s ease ease-in;
} 
    
footer nav a:hover {
       color:#F92C85;
       text-decoration: underline;
}
    




/* 5. Components */


.hidden {
    display: none;
}

.login-header {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 7vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;   
    text-align: center;
}
input {
    border: none;
    border-radius: 15px;
    padding: 5px;
}

input[type="submit"]
{
    margin:5px;   
    border:none;
    width: 8em; 
    height: 8%;
    background-color: #ffe26a;
    color:black;
    font-size: 1em;
    font-weight: 400;
}

input[type="submit"]:hover {
    background-color:#EA445A; 
    color:#FFFFFF;   
}

#username {
    width: 12em;
    height: 8%;
    border: 1px solid #ffe26a;
    color: #16123f;
    text-align: center;
    background-color: whitesmoke;
}


#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.signd-in-logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 8vh;
}

.username-display {
  color:#E9BD43;
  margin-top: 1%;
  display: block;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size:4vh;
  
}



#questionbox {
    display: flex;
    justify-content: center;
    justify-items: center;
    background: linear-gradient(90deg, rgba(20,16,91,1) 12%, rgba(82,9,121,1) 70%, rgba(156,29,177,1) 100%);
    color: white;
    font-size: 1.7rem;
    text-align: center;
    box-sizing: border-box; 
    padding-top: 1%; 
    padding-bottom: 1%;
  
       
}

#answerbuttons {   
    display: flex;
    justify-content: center;
    justify-items:center;
    width: max-content;
    height: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    text-align: center;
    font-size: 1.5rem;
}

#scoreboard {
    margin-top: 3%;
    margin-bottom: 10%; 
    text-align: center;
}

#correct #incorrect {
    padding-left:2%;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

i {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    padding-left: 1%;
    font-size: 4vh;
    color: #A0AECD;
    
}


/* 6. @ Media */
@media (max-width:495px) {
    header {
        display: flex;
        flex-direction: row;
        justify-items: center;
    }
    nav {
        display: inline-block;
        margin-top: 2%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
    nav a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 0.9rem;
        text-decoration: none;
        color: #A0AECD;
        transition: color 0.2s ease ease-in;
    } 
    
    #answerbuttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items:center;
        width: max-content;
        height: max-content;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1%;
        text-align: center;
        font-size: 1.5rem;
        gap: 5%;
    }
    #questionbox {
        margin-top: 10%;
        margin-bottom:3%;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        background: linear-gradient(90deg, rgba(20,16,91,1) 12%, rgba(82,9,121,1) 70%, rgba(156,29,177,1) 100%);
        color: white;
        font-size: 30px;
        text-align: center;
        width: 100%;
           
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    footer nav ul li {
        display: inline-block;
        margin: 0 0.5rem;
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
    footer nav a {
        display: inline-block;
        padding:5px;
        font-size: 0.6rem;
        text-decoration: none;
        color:#99DDFF;
        transition: color 0.2s ease ease-in; 
    } 
    
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe26a;
    width: 150px;
    height: max-content;
    border:none;    
    margin-right: 1%;
    margin-left: auto;
    margin-top: 2%;
    color: #16123f;
    font-size:1.2rem;
    border-radius: 25px;
    padding: 10px;    
    text-align: center;
    cursor: pointer;
}

 button:hover {
    background-color: #EA445A;
    color:white;
  
}
}
